h1{

padding: 10px;
color:rgb(1, 49, 33);
background-color:rgb(2, 133, 255);

}

.secao1{

padding: 10px;
color: rgb(128, 0, 248);
background-color:pink;

}

.secao2{

padding: 10px;
color: rgb(223, 68, 94);
background-color:rgb(247, 204, 211);
    
}

h2{

padding: 10px;

}
